# Used by the library (versions taken from edx.org August 9th 2020)
# Python version is 3.11.9
numpy==1.24.4
scipy==1.10.1
pyparsing==3.1.2

# TODO: remove before delivery
six==1.16.0

# For testing
pytest
pytest-cov

# For documentation
mkdocs
mkdocs-cinder
# Note that there are much newer versions of these. However, the pycon code highlighting
# language no longer works in the newer versions, so we stick with these ones.

# For uploading to edge
requests
